<div>
<%= render "shared/searchbar" %>
</div>


<div class="container">
  <h2>Missing something for your meal? See whats on offer for...</h2> 
  <div class="store-cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1509365465985-25d11c17e812?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80)">
     <h3 class="suggestion-text">Breakfast</h3>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1478998674531-cb7d22e769df?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
     <h3 class="suggestion-text">Lunch</h3> 
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1519708227418-c8fd9a32b7a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80)">
      <h3 class="suggestion-text">Dinner</h3>
    </div>
  </div>
</div>

<div class="container">
  <h2>All stores near you</h2>
  <% @stores.each do |store| %>
    <div class="store-title">
      <h3> <%= link_to store.name, store_path(store.id) %></h3>
    <p> <%= store.address %> </p></div>
  <div class="card-product">
    <div class="store-items">
       <% store.items.each do |item| %>
    <div class="card-item">
      <img class="card-image" src="https://images.unsplash.com/photo-1551462147-37885acc36f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="image">
        <div class="store-body">
          <div class="item-name" ><%= item.name %></div>
          <s>original price:<%= item.price %></s>
          <br>
          <strong> new price: <%= item.discounted_price %></strong>
          <button type="button" class="btn btn-warning ml-5"><%= link_to "Add to basket", create_order_path(item.id), method: :post %></button>
        </div>
   </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>



