<div>
<%= render "shared/searchbar" %>
</div>

<div class="d-flex justify-content-center">
  <div class="spinner-border search-spinner"  role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="container">
  <h2>Missing something for your meal? See whats on offer for...</h2>


  <div>
  <%= link_to "See All (#{Store.count})", stores_path, class: "btn btn-full" %>
  </div>
  <div class="store-cards">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://image.freepik.com/free-vector/delicious-fluffy-pancake-frying-pan-fresh-fruit-honey-toppings-white-background_281653-997.jpg)">
     <h3 class="suggestion-text"></h3>
     <%= link_to "Breakfast", stores_path(tag: @tags.first), class: "suggestion-text" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://image.freepik.com/free-vector/delicious-ramen-soup-background_52683-46005.jpg)">
     <h3 class="suggestion-text"></h3>
     <%= link_to "Lunch", stores_path(tag: @tags.second), class: "suggestion-text" %>
    </div>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.6)), url(https://image.freepik.com/free-vector/realistic-kitchen-ware-top-view-with-salmon-spices-vegetables-wooden-texture-illustration_1284-28232.jpg)">
      <h3 class="suggestion-text"></h3>
      <%= link_to "Dinner", stores_path(tag: @tags.last), class: "suggestion-text" %>
    </div>
  </div>
</div>

<div class="container">
  <h2>Stores near you</h2>
  <% @stores.each do |store| %>
    <div class="store-title">
      <h3> <%= link_to store.name, store_path(store.id), class: "store-name" %></h3>
    <p class="store-address"> <%= store.address %> </p></div>
  <div class="card-product background-shade">
    <div class="store-items">
       <% store.items.each do |item| %>
          <div class="card-item">
            <% if item.discounted_price == 0 %>
            <div >
              <img id="free-image" src="https://www.flaticon.com/svg/static/icons/svg/891/891500.svg" alt="" >
            </div>
          <% end %>
            <% if item.photo.attached? %>
              <%= cl_image_tag item.photo.key, class: "card-image" %>
            <% else %>
              <img class="card-image" src="https://images.unsplash.com/photo-1551462147-37885acc36f1?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80" alt="image">
            <% end %>
            <div class="store-body">
              <div class="item-name" ><%= item.name %></div>
                <s>Original Price:<%= number_to_currency(item.price, unit: "£") %></s>
                <br>
                <strong id="new-price"> New Price: <%= number_to_currency(item.discounted_price, unit: "£") %></strong>
                <%= link_to "Add to Basket", create_order_path(item.id), method: :post, class: "btn-basket" %>
              </div>
            </div>
        
        <% end %>
      </div>
    </div>
  <% end %>
</div>
