<div class="container margin text-center">
  <h1>Your waiting orders</h1>
</div>

<div class="container mt-5 w-50">
  <% if @order_users.empty? %>
    <p class="text-center p-3 m-3">There are no pending orders!</p>
  <% else %>
    <% @order_users.each do |user| %>
    <div class="card">
      <h2> <%= user.first_name.capitalize %>'s order </h2>
      <% user.orders.where(collected: false).each do |order| %>
        <p class="text-center"><%= order.item.name %> x<%= order.quantity %></p>
      <% end %>
      <% if user.orders.where(collected: false).first.status == "checkout" %>
        <%= link_to "Accept", accept_order_store_path(params[:id], user.id), method: "patch", class: "mt-1 btn btn-success text-center" %>
        <%= link_to "Reject", reject_order_store_path(params[:id], user.id), method: "patch", data: { confirm: "Are you sure want to reject this order?" }, class: "mt-1 btn btn-danger text-center" %>
      <% elsif user.orders.where(collected: false).first.status == "accepted" %>
        <%= link_to "Collected?", collect_order_store_path(params[:id], user.id), method: "patch", data: { confirm: "Are you sure all items were collected?" } %>
      <% end %>
    </div>
    <br>
    <% end %>
   <% end %>
</div>
