<div class="container margin text-center">
  <h1>Your awaiting orders</h1>
</div>

<div class="container mt-5 w-50">
    <% @users_with_accepted_orders.each do |user| %>
    <div class="card">
      <h2> <%= user.first_name.capitalize %>'s order </h2>
      <% user.orders.accepted.each do |order| %>
        <p class="text-center"><%= order.item.name %> x<%= order.quantity %></p>
      <% end %>
      <%= link_to "Collected?", collect_order_store_path(params[:id], user.id), method: "patch", data: { confirm: "Are you sure all items were collected?" } %>
    </div>
    <% end %>
    <br>
</div>

<div class="container mt-5 w-50">
    <% @users_with_checkout_orders.each do |user| %>
    <div class="card">
      <h2> <%= user.first_name.capitalize %>'s order </h2>
      <% user.orders.checkout.each do |order| %>
        <p class="text-center"><%= order.item.name %> x<%= order.quantity %> <%= order.status %></p>
      <% end %>
      <%= link_to "Accept", accept_order_store_path(params[:id], user.id), method: "patch", class: "mt-1 btn btn-success text-center" %>
      <%= link_to "Reject", reject_order_store_path(params[:id], user.id), method: "patch", data: { confirm: "Are you sure want to reject this order?" }, class: "mt-1 btn btn-danger text-center" %>
    </div>
    <% end %>
    <br>
</div>
