<%= javascript_pack_tag 'show_page_javascript' %>

<div class="container">
<% if @store.user == current_user %>
  <!-- The current user is the owner -->
    <div class="show-header">
      <%= render "shared/store-show-info-card" %>
      <div class="edit-add-box">
        <%= render "shared/show-edit-box" %>
        <%= render "shared/add-item-modal" %>
        <%= render "shared/edit-store-modal" %>

      </div>
    </div>
<% else %>
  <!-- The current user is not the owner -->
    <div class="show-header">
      <%= render "shared/store-show-info-card" %>
      <%= render "shared/basket" %>
    </div>
<% end %>


<div class="items-header"><strong>Items:</strong></div>
<% flash.each do |type, msg| %>
  <div class="p-3 m-2 alert-danger my-alert">
    <span><%= msg %></span>
    <span>Go back to: <%= link_to "#{@orders.last.item.store.name}", store_path(@orders.last.item.store), class: ".alert-link"%></span>
  </div>
<% end %>
<div class="show-items-grid">
  <% @store.items.each do |item| %>
    <div class="item-card" id="item-<%= item.id %>" >
      <% if item.photo.attached? %>
        <div class="item-img" style="background-image: url('<%= cl_image_path item.photo.key, height: 100, width: 100 %>')"></div>
      <% else %>
        <div class="empty-image"></div>
      <% end %>

      <div class="item-info">
        <div><strong><%= item.name %></strong> </div>
        <div class="item-card-prices">
          <span class="old-price"><%= number_to_currency(item.price, unit: "£") %></span>
          <i class="fas fa-arrow-right"></i>
          <span><%=number_to_currency(item.discounted_price, unit: "£") %></span>
          <%= link_to "Delete",
                  destroy_item_store_path(@store.id, item.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" }, class: "btn-delete" %>
          <div><button type="button" class="btn btn-warning edit-item-btn" data-toggle="modal" data-target="#editItemModal">
           Edit Item
          </button></div>

          <div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="editItemModalLabel">Edit this item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <%= item.name %>
                </div>
              </div>
            </div>
          </div>





        </div>
      </div>
        <% if current_user != @store.user %>
          <div class="add-to-basket-btn">
            <%= link_to "Add to basket", create_order_path(item.id), method: :post %>
          </div>
        <% end %>
    </div>
  <% end %>
  </div>
  <%= link_to "Back", stores_path, class: "btn btn-full ml-3"  %>
</div>

