<%= javascript_pack_tag 'show_page_javascript' %>

<div class="container">
<% if @store.user == current_user %>
  <!-- The current user is the owner -->
    <div class="show-header">
      <%= render "shared/store-show-info-card" %>
      <div class="edit-add-box">
        <%= render "shared/show-edit-box" %>
        <%= render "shared/add-item-modal" %>
        <%= render "shared/edit-store-modal" %>
      </div>
    </div>
<% else %>
  <!-- The current user is not the owner -->
    <div class="show-header">
      <%= render "shared/store-show-info-card" %>
      <%= render "shared/basket" %>
    </div>
<% end %>

<div class="items-header"><strong>Items:</strong></div>
<div class="show-items-grid">
  <% @store.items.each do |item| %>
    <div class="item-card" id="item-<%= item.id %>" >
      <% if item.photo.attached? %>
        <div class="item-img" style="background-image: url('<%= cl_image_path item.photo.key, height: 100, width: 100 %>')"></div>
      <% else %>
        <div class="empty-image"></div>
      <% end %>

      <div class="item-info">
        <div><strong><%= item.name %></strong> </div>
        <div class="item-card-prices">
          <span class="old-price"><%= number_to_currency(item.price, unit: "£") %></span>
          <i class="fas fa-arrow-right"></i>
          <span><%=number_to_currency(item.discounted_price, unit: "£") %></span>
        </div>
      </div>
        <% if current_user != @store.user %>
          <div class="add-to-basket-btn">
            <%= link_to "Add to basket", create_order_path(item.id), method: :post %>
          </div>
        <% end %>
    </div>
  <% end %>
  </div>
</div>
