<div class="container">
  <%= render "shared/basket" %>
  <h1> <%= @store.name %></h1>
  <h3> <%= @store.address %> </h3>
  <p> <%= @store.description %></p>
  <p> owner: <%= @store.user.email %></p>

  <p><strong>Items:</strong></p>
  <ul>
    <% @store.items.each do |item| %>
      <li><%= item.name %> - £<%= item.price %> - <%= link_to "Add to basket", create_order_path(item.id), method: :post %></li>
    <% end %>
  </ul>
</div>
