<br>
<br>

<div class="test_scroll">
  <section id="display">
    <div id="container">
      <div class="mt-4 confirmation_item active"><i class="far fa-clock"></i><%=@store.name%> will confirm your order... </div>
      <div class="mt-4 confirmation_item"><i class="far fa-check-circle"></i><%=@store.name%> has confirmed your order... </div>
      <div class="mt-4 confirmation_item"><i class="fas fa-walking"></i>Your order has been marked as collected! </div>
      <div class="confirmation_item hidden " style="margin-top: -40px">We apologise but this store has declined your order. <br> Return home for more options.</div>
      <%= link_to "Go back to my feed", stores_path, class: "mt-4 btn btn-full", id: "go-back" %>
    </div>
  </section>
</div>

<div class="p-3" style="background-color: #353B48"></div>

<div class="container">
  <div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <div class="col mt-5 hidden">
    <%= RQRCode::QRCode.new(root_path).as_svg(
      offset: 0,
      color: '000',
      shape_rendering: 'crispEdges',
      module_size: 6,
      standalone: true
    ).html_safe %>
  </div>
</div>



