<br>
<br>

<div class="test_scroll">
  <section id="display">
    <div id="container">
      <div class="mt-4 confirmation_item active"><i class="far fa-clock"></i><%=@store.name%> will confirm your order...</div>
      <div class="mt-4 confirmation_item"><i class="far fa-check-circle"></i><%=@store.name%> has confirmed your order... </div>
      <div class="mt-4 confirmation_item"><i class="fas fa-walking"></i>Your order has been marked as collected! </div>
      <div class="confirmation_item hidden " style="margin-top: -20px">We apologise but this store has declined your order. <br> Return to feed for more options.</div>
      <%= link_to "Go back to my feed", stores_path, class: "mt-4 btn btn-full", id: "go-back" %>
    </div>
  </section>
</div>

<div class="p-3" style="background-color: #353B48">

<div class="confirmation-btn-container">

  <div class="btn btn-primary m-2 text-center" type="button" data-toggle="modal" data-target="#showBasketModal"> Show Basket </div>
  <div class="modal fade" id="showBasketModal" tabindex="-1" role="dialog" aria-labelledby="showBasketModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="showBasketModalLabel">Your Basket</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <% sum = 0 %>
          <% discounted_sum = 0 %>
          <div class="basket-content">
            <% @orders.each do |order| %>
              <div class="basket-item">
                <div><%= order.item.name %> x<%= order.quantity %></div>
                <div>
                  <span class="old-price"><%= number_to_currency(order.item.price * order.quantity, unit: "£")%></span>
                  <i class="fas fa-arrow-right"></i>
                  <span><%= number_to_currency(order.item.discounted_price * order.quantity, unit: "£")%></span>
                </div>
              </div>
              <% sum += order.item.price * order.quantity %>
              <% discounted_sum += order.item.discounted_price * order.quantity%>
              <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container">
  <div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>



