<br>
<br>

<div class="container mt-5 text-center">
  <h2 class="pending pulsate"><%=@store.name%> will confirm your order... <i class="far fa-clock"></i></h2>
  <h2 class="wait"><%=@store.name%> has confirmed your order... <i class="far fa-check-circle"></i></h3>
  <h2 class="wait">Your order is ready to be collected! <i class="fas fa-walking"></i></h4>
</div>

<div class="container">
  <% if @status == "collected" %>
    <p>Your order has been marked as collected:</p>
    <%= link_to "Go back to my feed", stores_path %>
  <% elsif @status == "rejected" %>
    <p>We apologise <%= @store.name %> could not complete your order.</p>
    <%= link_to "Go back to your feed", stores_path %>
  <% else %>
    <p>Order status: <%= @status %></p>
  <% end %>
</div>

<div class="container">
  <div id="map"
     style="width: 100%; height: 400px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


